.banner{
    width: 100%;
    height:290px;
    background: url('../../assets/banner.png')no-repeat;
    background-size: cover;

    display: flex;
       
}

.content-banner{
    margin-top:45px;
    margin-left: 29px;
    width: 55%;
    height: 100px;
}

.content-banner h1{
    font-family: calibri;
    font-size: 1.6em;
}



.content-button{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top:20px;
}

.content-button button{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width:56px;
    height:56px;
    
    border-radius:56px;
    border: none;
    cursor:pointer;
    margin-right: 20px;

}

.footer-banner{
    width:70%;
    margin:10% 15%;
    text-align: center;

}

.footer-banner h2{
    font: normal normal 800 32px/59px calibri;
    letter-spacing: 0px;
    color: #282828; 
}

.footer-banner span{
    font: normal normal normal 16px/28px calibri;
    letter-spacing: 0px;
    color: #8E8E8E;
}

@media (min-width:768px){
    .banner{
        height: 460px;
    }

    .content-banner{
        margin-top:75px;
    }

    .content-banner h1{
        font-family: calibri;
        font-size: 2.4em;
    }


}


@media (min-width:1024px){

.banner{
    height:558px; 
    background-size: cover;
}

.content-banner{
    margin-top:100px;
    margin-left: 229px;
    width: 450px;
}


.content-banner h1{
    text-align: left;
    font: normal normal 900 48px/76px calibri;
    letter-spacing: 0px;
    color: #282828;
    opacity: 1;
}
.content-button button{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:76px;
    height: 76px;
    
    border-radius: 76px;
    border: none;
    cursor:pointer;
    
}

.footer-banner{
    margin:5% 15%;
}





}

@media (min-width:1339px){

    .banner{
        height:698px; 
        background-size: contain;
    }
    
    .content-banner{
        margin-top:190px;
        margin-left: 229px;
        width: 570px;
        height: 100px;
    }
    
    
    .content-button{
        margin-top:75px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        height: 76px;
    }
    
    .content-banner h1{
        text-align: left;
        font: normal normal 900 48px/76px calibri;
        letter-spacing: 0px;
        color: #282828;
        opacity: 1;
    }
    .content-button button{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width:76px;
        height: 76px;
        
        border-radius: 76px;
        border: none;
        cursor:pointer;
        
    }

}