.container-form{
    width: 100%;
    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container-form form{
    display: flex;
    flex-direction: column;
    width: 394px;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 20px #A6AEBA1A;
}

.container-form form h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px; 
    
}

.title-form{
    text-align: center;

    margin-bottom: 32px;   
}

.container-form form input {
    width: 80%;
    height: 46px;
    border-radius: 5px;
    border: none;
    margin:2% 10%;
}

.container-form form button {
    border:none;
    background-color:#366ABA;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    width: 80%;
    height: 46px;
    border-radius: 5px;
    border: none;
    margin:2% 10%;
}

.container-form form a {
    color: #366ABA;
    margin-bottom: 30px;
    text-align: center;
}

.container-form form img{
    width: 130px;
    height:38px;
    text-align: center;
    margin-left:132px;
    margin-bottom: 10px;
}

.goBack{
    text-align: left!important ;
    text-decoration: none;
}