.container-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100vw;
    height: 100vh;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

.container-video video{
    width:96%;
    height:258px;
    margin:auto 2%;

}

.container-video button{
    width: 114px;
    height: 38px;
   

    border-radius: 100px;
    border:none;
    color: #366ABA;
    cursor: pointer;
    outline: none;

    margin-bottom: 40px;
}

@media (min-width:768px){
    .container-video video{
        width:70%;
        height:458px;
        margin:auto 10%;
    }

    .container-video button{
        margin-bottom: 40px;
    }
}

@media (min-width:768px){
    .container-video video{
        width:70%;
        height:458px;
        margin:auto 10%;
    }

    .container-video button{
        margin-bottom: 40px;
    }
}