.content-header{
    width:100%;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;     
}

.content-header img{
    float: left;
    width:130px;
    height: 38px;
    margin-top:21px;
    margin-left: 239px;
}

.content-header nav{
    float: right;
    width: 241px;
    height: 58px;
    margin-top:11px;
    margin-right:189px;
}

.content-header nav ul{
   list-style: none;
   width: inherit;
   height: inherit;
}

.content-header nav ul li{
    float: left;
    display: inline;
    padding: 20px;
}

.content-header nav ul li a{
    text-decoration: none;
    background-color: #366ABA;
    color:#fff;
    border-radius: 100px;
    padding: 10px;
}

.isActive a{
    font-weight: bold;
    background-color: #fff !important;
    color:#000 !important;
}

@media (max-width: 1024px){
    .content-header img{
        margin-left: 15px;  
    }

    .content-header nav{
        margin-right: 15px;
    }
}
