.container-location{
    width:70%;
    margin:5% 15%;
}

.container-location h1{
    margin-left: 50px;
}

.nav-buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-buttons button{
  float: right;
  margin-left: 4px;
  border:none;
  background-color: transparent;
  cursor:pointer;

}

.container-uf button{
    text-decoration: none;
    color: #366ABA;
    padding: 5px;
    text-align: center;
    border: 1px solid #366ABA;
    border-radius: 10px;
    margin-left: 2%;
    background-color: transparent;
    cursor: pointer;
}

.container-uf button:nth-child(1){
    margin-left: 5%;
}


.isActiveItems {
   color:#fff !important;
   background-color: #366ABA !important;
}

.container-trips{
    width:70%;
    margin:5% 15%;

    display: flex;
    flex-direction: column;
}
.container-trips h1 {
    margin:2% 5%;
}

.content-trips{
    display: flex;
    flex-direction: row;

    
}

.content-trips div{
    width:160px;
    border-radius: 2px;
    margin:40px 10px;
    padding:10px;
}







@media (max-width:768px){
    .container-location a{
        padding:0;
        margin-left: 4%;
        margin-top: 4%;
        
    }
}