
.container-dashboard{
    width:70%;
    margin:0 15%;
}

.container-dashboard h2{
    margin:2% 20%;
}

.container-dashboard a{
    margin:2% 0% 2% 20%;
    color:#366ABA;
    text-decoration: none;
    font-weight: bold;
}

.add-btn{
    margin:2% 20%;
    width: 186px;
    height: 38px;
    border-radius: 38px;
    border: none;
    background-color: #4CAF50;

    font-family: calibri;
    color:#fff;
    cursor: pointer;
    
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin:2% 15%;
  }
  
  td, th {
    
    text-align: center;
    padding: 8px;
  }

  td button{
      background-color: transparent;
      border: none;
      margin: 0 10px;
      cursor: pointer;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
