footer{
    width: 100%;
    height: 80px;
    background: var(--unnamed-color-366aba) 0% 0% no-repeat padding-box;
    background: #366ABA 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1{
    font: normal normal bold 16px/24px calibri;
    letter-spacing: 0px;
    color: #FFFFFF;
}