.container-search{
    width:70%;
    height: 230px;
    margin:5% 15%;
    background-color:#fff;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.container-search h1{
    font: normal normal 800 32px/59px calibri;
    letter-spacing: 0px;
    color: #282828;
    opacity: 1;
    margin-left: 5%;
}

.container-search hr{
    width: 100px;
    height:2px;
    background: #366ABA 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    margin-left: 5%;
}

.content-input{

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 90%;
    border: 1px solid #D5D5D5;
    margin: auto 5%;
    height: 52px;
    border-radius: 5px;
    padding-right: 20px;
}

.content-input input{
    width: 96%;
    margin: auto 2%;
    height: 52px;
    border: none;
    outline: none;
}

