.container-banner{
    width:100%;
    background-color: #DEF1FE;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title {
    width: 90%;
    margin:10% 10% 2% 10%;
}

.content-title h1{
    text-align: center;
    margin-bottom: 10%;
}

.content-post{
    width: 90%;
    margin:0 10%;
}

.content-post img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

#avatar{
    width: 69px;
    height: 69px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.content-avatar{
    width: 100%;
    display: flex;
    justify-content: row;
    align-items: center;
    
    margin-top: 60px;
    background-color: #fff;
}

.content-avatar div:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content{
    width:70%;
    margin:10% 15%;
    text-align: justify;
}


.content figure img{
    width: 100%;
    margin: 10% auto 0% auto;
}

.content figure figcaption{
    text-align: center;
    margin: 10% auto;
}

@media (min-width:768px){

    .content-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:30%;
        margin-left: -200px;
    }
    
    
    .content-title h1{
        font-family: calibri;
        font-size: 1.8em;
    }
    .content-title img{
        position: absolute;
        width: 350px;
        height: 450px;
        border-radius: 20px;
    }
    .content-post{
        margin-top: 10%;
        width: 70%;
    }
}