.container-dashboard{
    width:90%;
    margin:10% 5%;
    
}

.container-dashboard h2{
    margin:10% 5%;
}

.container-dash div{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.container-dash div a{
    margin: 10px;
    background-color: #f8f8f8;
 }

 .container-dash button{
     width:200px;
     height:62px;
     border: none;
     cursor:pointer;

     font-family: calibri;
     font-weight: bold;
 }

 @media (min-width:768px){
    .container-dashboard h2{
        margin:2% 33%;
    }
 }